<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Jackpot Checker</h1>
  <hr class="my-4">
  <p>Check your numbers!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="result" role="button">Learn more</a>
  </p>
    </div>
</div>